# Configuración para PostgreSQL en RDS
DB_HOST=your-rds-endpoint.amazonaws.com
DB_PORT=5432
DB_NAME=your_database_name
DB_USERNAME=your_db_user
AWS_REGION=us-east-1

# Activa esto si quieres usar autenticación IAM (recomendado)
DB_USE_IAM=true

# Si DB_USE_IAM=false, define esta contraseña (NO la guardes en el código)
# DB_PASSWORD=your_db_password

# Condición para la consulta de IDs
DB_QUERY_CONDITION=1=1
